/* ---------------------------------------------------------------------------- 
-- GENERAL --------------------------------------------------------------------
---------------------------------------------------------------------------- */
.section_placeholder {
    max-width: 100%;
    height: 40vh;
    background-color: #fff;
 } 

 .out {
  width: 100%;
  height: 100%;
  position: relative;
}

.in{
  width: auto;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.in > .row, .container > .row, .container-fluid > .row{
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

section {
    overflow: hidden;
}


/* ---------------------------------------------------------------------------- 
-- HEADER ---------------------------------------------------------------------
---------------------------------------------------------------------------- */
/*header{
    width: 100%;
    height: 65px;
    background: #5f5f5f;
}*/


/* ---------------------------------------------------------------------------- 
-- TRASITION PAGE ANIMATION ---------------------------------------------------
---------------------------------------------------------------------------- */
.slideup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.slideup.ng-enter,
.slideup.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slideup.ng-enter {
    /*top: 100%;*/
    top: calc(100% - 550px);
}
.slideup.ng-enter-active {
    top: 0;
}
.slideup.ng-leave {
    top: 0;
}
.slideup.ng-leave-active {
    /*top: -100%;*/
    display: none;
}


/* ---------------------------------------------------------------------------- 
-- PORTFOLIO SINGLE PAGE ------------------------------------------------------
---------------------------------------------------------------------------- */

/* SECTION TOP */
.section_top_portfolio { 
    width: 100%;
    height: 670px;
    position: relative;
    text-align: center;
    color: #fff;
    background-position: center !important;
    background-repeat: no-repeat !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

.section_top_portfolio h1 { 
    color: #FFF;
    font-weight: 200;
    font-size: 42pt;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    line-height: 8.5rem;
    margin: 45px 0px 8px;
}

.section_top_portfolio h1:after { 
    content: "";
    width: 50%;
    height: auto;
    border-bottom: 1px solid #FFF;
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
}

.section_top_portfolio p {
    font-family: 'Libre Baskerville', serif;
    font-size: 11pt;
}

/* SECTION BOTTOM */
.section_bottom_portfolio {
    width: 100%;
    height: 550px;
    padding: 0;
    position: relative;
    background-position: center !important;
    background-repeat: no-repeat !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

.section_bottom_portfolio .color {
    position: relative;
    height: 550px;
    background: rgba(29,60,69,0.8);
    z-index: 2;
}

.section_bottom_portfolio .color span {
    display: block;
    position: absolute;
    width: 650px;
    height: 650px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border: 1px solid #fff;
    left: 50%;
    margin-left: -325px;
    top: -330px;
    z-index: 1;
    opacity: 0.5;
}

.next_project {
    height: 100%;
    z-index: 3;
}

.back_padding {
    padding: 10px;
}

.back_portfolio {
    background: rgba(37,68,76,0.4);
    text-align: center;
    font-size: 14pt;
}

/* ---------------------------------------------------------------------------- 
-- SECTION PARALLAX -----------------------------------------------------------
---------------------------------------------------------------------------- */
.parallax {
  position:absolute;
  left: 0;
  top: 0;
}
.photo {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
}

/* STYLE 1 */
.parallax_style1 {
    width: 100%;
    padding: 80px 0px 140px 0px;
    position: relative;
    background-attachment: fixed !important;
    background-position: 50% 0;
    background-repeat: no-repeat !important;
}

.parallax_style1 .container {
    text-align: center;
    color: #fff;
}

.parallax_style1 h1 { 
    font-weight: 200;
    font-size: 42pt;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    line-height: 8.5rem;
    margin: 38px 0px 0px;
}

.parallax_style1 p {
    font-family: 'Libre Baskerville', serif;
    font-size: 11pt;
}

.divisore_parallax1 {
    display: block;
    width: 300px;
    border: 1px solid #fff;
    margin: 0 auto;
    margin-top: 60px;
}

/* STYLE 2 */
.parallax_style2 {
    width: 100%;
    padding: 150px 0px 150px 0px;
    position: relative;
    background-attachment: fixed !important;
    background-position: 50% 0;
    background-repeat: no-repeat !important;
}

.parallax_style2 .row {
    color: #fff;
}

.parallax_style2 h1 { 
    font-weight: 200;
    font-size: 42pt;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    line-height: 5.5rem;
    margin: 0px 0px 40px 0px;
}

.parallax_style2 h4 {
    color: #d0d0d0;
}

.parallax_style2 p {
    font-family: 'Libre Baskerville', serif;
    font-size: 11pt;
}

.testo_parallax2 {
    width: 100%;
    max-width: 550px;
    height: auto;
    position: relative;
      left: 50%;
      transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
      -webkit-transform: translate(-50%, 0%);
      -o-transform: translate(-50%, 0%);
}


/* ---------------------------------------------------------------------------- 
-- SECTION SIMPLIE TEXT -------------------------------------------------------
---------------------------------------------------------------------------- */
.section_simplie_text {
    width: 100%;
    padding: 80px 0px 140px 0px;
}

.section_simplie_text > .container {
    text-align: center;
    color: #3e3e3e;
}

.section_simplie_text h1 { 
    font-weight: 200;
    font-size: 42pt;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    line-height: 8.5rem;
    margin: 45px 0px 0px;
}

.section_simplie_text h3 { 
    color: #cbcbcb;
    margin: 0px 0px 60px 0px;
}

.section_simplie_text p {
    font-family: 'Libre Baskerville', serif;
    font-size: 11pt;
}


/* ---------------------------------------------------------------------------- 
-- SECTION SERVICES -----------------------------------------------------------
---------------------------------------------------------------------------- */
.section_services {
    width: 100%;
    padding: 60px 0px 70px 0px;
    min-height: 500px;
}
.section_services > .row{
    text-align: center;
}

.section_services h4 { 
    color: #cbcbcb;
    margin: 0 auto;
}

.section_services h4:before { 
    content: '';
    width: calc(50% - 110px);
    border-top: 1px solid #cbcbcb;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: -5px;
}

.section_services h4:after { 
    content: '';
    width: calc(50% - 100px);
    border-top: 1px solid #cbcbcb;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -5px;
}